@import url("https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.css");
@import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha-lavender.theme.css");

:root {
    --message-mentioned-background-default: #b7bdf826 !important;
    --message-mentioned-background-hover: #b7bdf819 !important;
    --message-background-hover: #b7bdf819 !important;

    /* anti-refresh */
    --custom-app-top-bar-height: 0px;
    --custom-guild-list-padding: 8px;

    --ctp-rainbow-thread-disabled: ;
}

div[class^="messagesWrapper"] ::-webkit-scrollbar {
    width: 12px;
}

div[class*='mentioned_']::before {
    background: rgb(183, 189, 248);
}

.app-launcher-entrypoint,
div[class^="channelTextArea_"] div[aria-label="Send a gift"],
div[class^="channelTextArea_"] div[aria-label="Open sticker picker"] {
    display: none !important;
}

/* Hide "Invite to channel" button on channels in channel list */
div[aria-label="Invite to Channel"] {
    display: none !important;
}

/* anti-refresh */
nav[class*="guilds_"] {
    margin-top: 10px;
}

/* Items in right click menus */
div[role="menuitem"] {
    padding-top: 0;
    padding-bottom: 0;
}